<div class="flex flex-col bg-white shadow-lg rounded-lg overflow-hidden max-h-56">
  <div class="flex">
    <div class="w-2/3 p-4">
      <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
      <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
      <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
      <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
    </div>
    <div class="bg-gray-300 rounded h-[150px] w-[200px]"></div>
  </div>

  <div class="bg-gray-100 p-4 text-sm text-gray-700">
    <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
    <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
  </div>
</div>
