<div class="relative grid grid-rows-auto grid-cols-1 md:grid-cols-4 rounded-lg shadow-2xl min-h-[500px]">

  <div class="row-span-1 col-span-2 bg-gray-200 rounded"></div>

  <div class="col-span-2 p-8 bg-slate-50">
    <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
    <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
    <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
  </div>

  <div class="col-span-2 p-8 bg-red-600 md:rounded-bl-lg text-white">
    <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
    <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
    <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
    <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
  </div>

  <div class="col-span-2 bg-gray-800 text-white py-6 rounded-br-lg">
    <div class="container mx-auto px-4">
      <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
      <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
      <p class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></p>
    </div>
  </div>

</div>
