<a [routerLink]="['detail/'+ vehicle().id]" class="flex flex-col bg-white shadow-lg rounded-lg overflow-hidden cursor-pointer min-h-56" [ngClass]="{'pointer-events-none': !isAdmin()}">
  <!-- Card content -->
  <div class="flex">
    <!-- Data -->
    <div class="w-2/3 p-4">
      <p class="text-sm font-semibold text-gray-800"><strong>Type: </strong> <span class="capitalize">{{ vehicle().type }}</span></p>
      <p class="text-sm font-semibold text-gray-800"><strong>Model: </strong> <span class="capitalize">{{ vehicle().modelName }}</span></p>
      <p class="text-sm font-semibold text-gray-800"><strong>Max Speed: </strong><span class="capitalize">{{ vehicle().maxSpeed }}</span></p>
      <p class="text-sm font-semibold text-gray-800"><strong>Color: </strong> <span class="capitalize">{{ vehicle().color }}</span></p>
      <p class="text-sm font-semibold text-gray-800"><strong>Registration: </strong> <span class="capitalize">{{ vehicle().registrationDate }}</span></p>
    </div>
    <!-- Image -->
    <div class="rounded h-[150px] w-[200px]">
      @if (vehicle().type === 'car') {
        <img src="https://cdn.dealeraccelerate.com/autocafe/1/260/12179/1920x1440/1965-shelby-cobra-replica-backdraft-rt4b-gt" alt="Vehicle Image" class="h-full w-full object-cover rounded">
      } @else {
        <img src="https://cdn.motor1.com/images/mgl/9mZKbg/s1/2024-chevrolet-silverado-live-exterior-photos.jpg" alt="Vehicle Image" class="h-full w-full object-cover rounded">
      }

    </div>
  </div>
  <!-- Footer -->
  <div class="bg-gray-50 p-4 text-sm text-gray-700">
    @if (vehicle().type === 'car') {
      <p class="text-sm font-semibold text-gray-800"><strong>Fuel Type:</strong> {{vehicle().specificData.fuelType}}</p>
      <p class="text-sm font-semibold text-gray-800"><strong>Has Airbag:</strong> {{vehicle().specificData.hasAirbag ? 'Yes' : 'No'}}</p>
    } @else if(vehicle().type === 'truck') {
      <p class="text-sm font-semibold text-gray-800"><strong>Max Weight Supported:</strong> {{ vehicle().specificData.maxWeightSupported }}</p>
      <p class="text-sm font-semibold text-gray-800"><strong>Can Attach Trailer:</strong> {{ vehicle().specificData.canAttachTrailer  ? 'Yes' : 'No' }}</p>
    }
  </div>
</a>
